$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);



.everything {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.card {
    box-shadow: 2px 4px 8px 2px;
    background: blue;

}



textarea {
    width: 100%;
    text-align: center;
    box-shadow: 2px 4px 8px 2px;
}

img {
    width: 100%;
    margin-top: 0;
    position: absolute;
}

.words {
    position: relative;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    color: rgb(61, 208, 228);
    

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100px;
        
    }


}
